body {
    background-color: #f2f2f2;
    color: #555;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #555; 
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #ccc; 
    color: #555; 
}

input[type="submit"] {
    background-color: #ccc;
    color: #555;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}


input[type="number"] {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
}